<a href="https://colab.research.google.com/github/drjaber2000/Data-Science-For-Beginners/blob/main/this_assignment_for_python_coding_exercise_answer_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Certainly, let's break down the Python home assignment and provide code solutions for each part.

**Part 1: Basics of Python**

*   **Task 1: Zoo Information (Enhanced)**

In [4]:
# 1. Variables
zoo_name = "Amazing Zoo"
total_animals = 150
average_ticket_price = 25.50
is_open_today = True

# 2. List of animal types
animal_types = ["mammals", "birds", "reptiles", "amphibians", "fish"]

# 3. Dictionary of animals and their details
animals = {
    "Elephant": {
        "Species": "African Elephant",
        "Diet": "herbivore",
        "Habitat": "Savannah"
    },
    "Tiger": {
        "Species": "Bengal Tiger",
        "Diet": "carnivore",
        "Habitat": "Tropical forest"
    },
    "Parrot": {
        "Species": "Macaw",
        "Diet": "herbivore",
        "Habitat": "Rainforest"
    },
    "Crocodile": {
        "Species": "Nile Crocodile",
        "Diet": "carnivore",
        "Habitat": "Freshwater rivers"
    },
    "Kangaroo": {
        "Species": "Red Kangaroo",
        "Diet": "herbivore",
        "Habitat": "Grasslands"
    }
}

# Outputting data to confirm the setup
print("Zoo Name:", zoo_name)
print("Total Animals:", total_animals)
print("Average Ticket Price: $", average_ticket_price)
print("Is the Zoo Open Today?", is_open_today)
print("\nAnimal Types Found in the Zoo:")
for animal_type in animal_types:
    print("-", animal_type)
print("\nDetails of Animals in the Zoo:")
for animal, details in animals.items():
    print(f"{animal}:")
    for key, value in details.items():
        print(f" {key}: {value}")

Zoo Name: Amazing Zoo
Total Animals: 150
Average Ticket Price: $ 25.5
Is the Zoo Open Today? True

Animal Types Found in the Zoo:
- mammals
- birds
- reptiles
- amphibians
- fish

Details of Animals in the Zoo:
Elephant:
 Species: African Elephant
 Diet: herbivore
 Habitat: Savannah
Tiger:
 Species: Bengal Tiger
 Diet: carnivore
 Habitat: Tropical forest
Parrot:
 Species: Macaw
 Diet: herbivore
 Habitat: Rainforest
Crocodile:
 Species: Nile Crocodile
 Diet: carnivore
 Habitat: Freshwater rivers
Kangaroo:
 Species: Red Kangaroo
 Diet: herbivore
 Habitat: Grasslands

[cite: 29, 30, 31]

**Part 2: Functions**

*   **Task 2: Define Zoo Operations**

In [8]:
def calculate_daily_income(visitors: int, ticket_price: float) -> float:
    """
    Calculate the total income for the day.
    Parameters:
    visitors (int): The number of visitors to the zoo.
    ticket_price (float): The price of a single ticket.
    Returns:
    float: The total income for the day.
    """
    return visitors * ticket_price

def check_open_status(is_open: bool) -> str:
    """
    Check if the zoo is open or closed.
    Parameters:
    is_open (bool): A boolean value indicating if the zoo is open.
    Returns:
    str: A message indicating the zoo's status.
    """
    return "The zoo is open!" if is_open else "The zoo is closed!"

[cite: 32, 33, 34, 35, 36, 37]

**Part 3: Loops and Conditionals**

*   **Task 3: Track Daily Visitors**

In [17]:

def simulate_visitors():
    """
    Simulate the arrival of visitors for 5 hours and classify each hour as busy or regular.
    """
    total_visitors = 0  # Initialize total visitors
    for hour in range(1, 6):  # Loop for 5 hours
        visitors = int(input(f"Enter the number of visitors for hour {hour}: "))
        total_visitors += visitors  # Add the number of visitors to the total

        # Check if the hour is busy or regular
        if visitors > 100:
            print("It's a busy hour!")
        else:
            print("It's a regular hour.")

    print(f"Total visitors in 5 hours: {total_visitors}")

# Call the function to simulate the visitors
simulate_visitors() # This line was incorrectly indented

Enter the number of visitors for hour 1: 100
It's a regular hour.
Enter the number of visitors for hour 2: 120
It's a busy hour!
Enter the number of visitors for hour 3: 23
It's a regular hour.
Enter the number of visitors for hour 4: 55
It's a regular hour.
Enter the number of visitors for hour 5: 120
It's a busy hour!
Total visitors in 5 hours: 418

[cite: 38, 39]

**Part 4: Classes and Inheritance**

*   **Task 4: Create Classes for Animals**

In [18]:
class Animal:
    def __init__(self, name, species, age, diet):
        self.name = name
        self.species = species
        self.age = age
        self.diet = diet

    def description(self):
        return f"{self.name} is a {self.species}, {self.age} years old, and a {self.diet}."

    def eat(self):
        return

[cite: 10, 11]

**Part 5: List Comprehensions**

*   **Task 5: Analyze Animal Data**

In [24]:
animal_ages = [2, 5, 3, 10, 1]

# Double the ages of all animals
doubled_ages = [age * 2 for age in animal_ages]

# Filter out animals older than 5 years
filtered_ages = [age for age in doubled_ages if age > 5]

# Create a list of Animal objects for each age
animals_list = [Animal(f"Animal{i+1}", "Unknown", age, "Unknown") for i, age in enumerate(filtered_ages)]

# Print the results
print("Original ages:", animal_ages)
print("Doubled ages:", doubled_ages)
print("Filtered ages:", filtered_ages)
print("Animal objects:", animals_list)  # This will print the memory addresses of the objects

# To see the descriptions of the animal objects:
for animal in animals_list:
    print(animal.description())

Original ages: [2, 5, 3, 10, 1]
Doubled ages: [4, 10, 6, 20, 2]
Filtered ages: [10, 6, 20]
Animal objects: [<__main__.Animal object at 0x7b36a1282a10>, <__main__.Animal object at 0x7b368bc92010>, <__main__.Animal object at 0x7b368bce6c50>]
Animal1 is a Unknown, 10 years old, and a Unknown.
Animal2 is a Unknown, 6 years old, and a Unknown.
Animal3 is a Unknown, 20 years old, and a Unknown.

[cite: 13, 14, 15]

**Part 6: Nested Loops and Boolean Logic**

*   **Task 6: Manage Zoo Inventory**

In [21]:
zoo_sections = ["Mammals", "Birds", "Reptiles"]
total_animals = 0

for section in zoo_sections:
    while True:
        try:
            num_animals = int(input(f"Enter the number of animals in the {section} section: "))
            if num_animals > 0:
                break
            else:
                print("Please enter a positive number.")
        except ValueError:
            print("Invalid input. Please enter an integer.")
    total_animals += num_animals

if total_animals > 50:
    print("The zoo is full!")
else:
    print("There's still room for more animals.")

Enter the number of animals in the Mammals section: 0
Please enter a positive number.
Enter the number of animals in the Mammals section: 12
Enter the number of animals in the Birds section: 22
Enter the number of animals in the Reptiles section: 9
There's still room for more animals.

[cite: 15, 16, 17, 18]

**Part 7: Advanced Integration**

*   **Add a Zoo class**

In [28]:
class Animal:  # Assuming this is your Animal class
    def __init__(self, name, species, age, diet):
        self.name = name
        self.species = species
        self.age = age
        self.diet = diet

    def description(self):
        return f"{self.name} is a {self.species}, {self.age} years old, and a {self.diet}."

class Zoo:
    def __init__(self, name): # Added indentation here
        self.name = name
        self.total_visitors = 0
        self.animals = []

    def add_animal(self, animal): # Added indentation here
        self.animals.append(animal)

    def add_visitor(self, count): # Added indentation here
        self.total_visitors += count

    def zoo_summary(self): # Added indentation here
        print(f"Zoo Name: {self.name}")
        print(f"Total Visitors: {self.total_visitors}")
        print("Animals in the Zoo:")
        for animal in self.animals:
            print(f" - {animal.description()}")

# Create a Zoo object
my_zoo = Zoo("My Awesome Zoo")

# Create and add animals
animal1 = Animal("Leo", "Lion", 5, "carnivore")
animal2 = Animal("Polly", "Parrot", 2, "herbivore")
my_zoo.add_animal(animal1)
my_zoo.add_animal(animal2)

# Add visitors
my_zoo.add_visitor(100)

# Print the zoo summary
my_zoo.zoo_summary()

Zoo Name: My Awesome Zoo
Total Visitors: 100
Animals in the Zoo:
 - Leo is a Lion, 5 years old, and a carnivore.
 - Polly is a Parrot, 2 years old, and a herbivore.

[cite: 19, 20]

**Part 8: Check Ticket Pricing Based on Age and Time of Visit**

In [23]:
def calculate_ticket_price(age: int, time_of_visit: str) -> int:
    """
    Calculate the ticket price based on the visitor's age and time of visit.

    Parameters:
    age (int): The age of the visitor.
    time_of_visit (str): The time of the visit ("before 5 PM" or "after 5 PM").

    Returns:
    int: The ticket price.
    """

    if age < 5:
        return 0  # Entry is free for children under 5
    elif 5 <= age <= 17:
        if time_of_visit == "before 5 PM":
            return 10  # Standard pricing for 5-17 years old
        else:  # time_of_visit == "after 5 PM"
            return 8  # Discounted pricing for 5-17 years old
    else:  # age >= 18
        if time_of_visit == "before 5 PM":
            return 20  # Standard pricing for adults
        else:  # time_of_visit == "after 5 PM"
            return 15  # Discounted pricing for adults

# Example usage
age = int(input("Enter your age: "))
time_of_visit = input("Enter time of visit (before 5 PM or after 5 PM): ")

ticket_price = calculate_ticket_price(age, time_of_visit)
print("Your ticket price is:", ticket_price, "SAR")

Enter your age: 3
Enter time of visit (before 5 PM or after 5 PM): after 5 PM
Your ticket price is: 0 SAR

[cite: 22, 23, 24, 25, 26, 27]